body{
   
background-color: black;
padding: 30em;
@media (max-width: 768px) {
  /* CSS rules for screens up to 768px wide */
  /* Adjust the styles as needed */
}
    
   

}


.bgimg{
    height: 1px;
    width: 1px;
    margin-block-start: 1%;
    margin-top: 1%;
    text-align: start;
    image-rendering: optimizeQuality;
    image-orientation: from-image;

   

}
.bg{
    width: 10%;
    height: 50;
}
button{
    background-color: red;
    color: white;
}
a{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
}
.para{
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
font-size:12ch;
}
.p1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 5ch;
}
.p2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 3ch;
}
.lang{
    padding-left: 2px;
    margin-top: 20px;
    text-align: end;
    text-decoration: line-through;
    font-size: large;
    font-weight: bolder;

}
input{
    background-color: black;
    color: white;

    border-color: green;
    padding: 20px;
   font-weight: bolder;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.butt{
    background-color: red;
    color: white;
    
    font-weight: bolder;
   font-size: 18px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    margin:2%;
border-radius: 3px;
}


.img2{
    text-align: end;
    float: right;
    
}
.p4{
    color: white;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
       font-size: 4ch; margin: 10%;
  
  

   
}
.p5{
    color: white;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: end;    font-size: 4ch; margin: 10%;
}
.p6{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    font-size: 4ch;
    text-align:start;
   margin: 10%;
    
   
}
.p7{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    font-size: 4ch; margin: 10%;
    text-align:end;

}
.img3{
    text-align: end;
    float: right;
   

    
}
.img4{
    text-align:start;
    float: left;
}
.img5{
    text-align:start;
    float: left;
   

}
.img0{
    text-align: end;
    float:right;
    
}
.p7{
    color: white;
    text-align: start;
    margin-left: 5%;
    display: inline-block;
}
details > summary {
  
    padding: 4%;
    background-color:rgb(1, 1, 57);
    border: none;
    box-shadow: 1px 1px 2px rgba(red, green, blue, alpha);
    cursor:pointer;
    border-radius: 20px;
    box-sizing: content-box;
  }
  details > div{
    font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size: 50%;
  }
  .p8{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large; 
    margin-left: 10%;
  }
  .but{
    background-color: red;
    color: white;
    
    font-weight: bolder;
   font-size: 18px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    margin:2%;
border-radius: 3px;
  }
  p{
    color: white;
  }
  .p9{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-style: italic;
    white-space: break-spaces;
  margin: 10%;
    break-after: column;
  }
  .p10{
    margin: 10%;
  }
  .p11{ color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger; 
    margin: 10%;


  }
  .lang1{
    padding-left: 2px;
    margin: 5%;
    text-align: start;
    
    font-size: large;
    font-weight: bolder;
}
.p12{
    margin: 1%;
    color: white;
}
footer{
    margin: 5%;
    color: white;
    text-align: end;
    font-size: larger;
}

